@import "tailwindcss";
*{
    font-family: 'Poppins', sans-serif;
}
.light{
    background-color: white;
    color: black;
}
.dark{
    background: radial-gradient(circle at center,#06141b,#040b1d,#000413 );
    color: white;
}